/*background for entire website*/

html {
    background-color: blue;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: Tahoma, "Tahoma", sans-serif;
}

h1 {
    color: white;
    text-shadow: 1px 1px black;
}

h2 {
    color: white;
    text-shadow: 1px 1px black;
}

.click-hide:focus ~ .alert{
    display: none;
}

.click-show:focus ~ .alert{
    display: block;
}


.about-section{

    display: block;

    position: fixed;
    left: 0;
    top:0;
   


    height: 50%;
    width: 50%;
    

    text-align: center;
    background: navy;

    border-bottom: 1px solid white;
    border-right: 1px solid white;

}

.now-section{
    position: fixed;
    right: 0;
    top: 0;

    height: 50%;
    width: 50%;
    

    text-align: center;
    background-image: url(../img/house-grow2015.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;

    border-left: 1px solid white;

}

.donate-section{
    position: fixed;
    bottom: 0;
    left: 0;

    height: 50%;
    width: 30%;
    

    text-align: center;
    background-image: url(../img/children-study.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
   
    border-top: 1px solid white;

}

.members-section{
    position: fixed;
    bottom: 0;


    left: 30%;
    right: 50%;

    height: 50%;
    width: 40%;
    

    text-align: center;
    background: maroon;


    border-top: 1px solid white;
    border-left: 1px solid white;


}

.members-section h2{
    text-align: left;
}

 #multiColumn {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}

.facebook-section{
    position: fixed;
    bottom: 25%;
    right: 10%;
    left: 70%;

    height: 25%;
    width: 15%;
    

    text-align: center;
    background-image: url(../img/facebook.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;

    border-top: 1px solid white;
    border-left: 1px solid white;
}


.email-section{
    position: fixed;
    bottom: 25%;
    left: 85%;
    right: 0;

    height: 25%;
    width: 15%;
    

    text-align: center;
    background-image: url(../img/mail.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;

    border-top: 1px solid white;
   
}
 
.instagram-section{
    position: fixed;
    bottom: 0;
    left: 70%;
    right: 10%;

    height: 25%;
    width: 15%;
    

    text-align: center;
    background-image: url(../img/instagram.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;

    border-left: 1px solid white;
    
}

.twitter-section{
    position: fixed;
    bottom: 0;
    left: 85%;
    right: 0;

    height: 25%;
    width: 15%;
    

    text-align: center;
    background-image: url(../img/twitter.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;

    
}


