/*background for entire website*/

html {
    background-color: blue;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.about-section{
    position: fixed;

    left: 0px;
    top:0;

    height: 50%;
    width: 50%;
    

    text-align: center;
    background: #aaa;
}

.now-section{
    position: fixed;
    right: 0;
    top: 0;

    height: 50%;
    width: 50%;
    

    text-align: center;
    background: #bbb;
}

.donate-section{
    position: fixed;
    bottom: 0;
    left: 0;

    height: 50%;
    width: 30%;
    

    text-align: center;
    background: #ccc;
}

.members-section{
    position: fixed;
    bottom: 0;


    left: 30%;
    right: 50%;

    height: 50%;
    width: 50%;
    

    text-align: center;
    background: #ddd;
}

.facebook-section{
    position: fixed;
    bottom: 25%;
    right: 10%;
    left: 80%;

    height: 25%;
    width: 10%;
    

    text-align: center;
    background: #fff;
}


.email-section{
    position: fixed;
    bottom: 25%;
    left: 90%;
    right: 0;

    height: 25%;
    width: 10%;
    

    text-align: center;
    background: #fff;
}
 
.instagram-section{
    position: fixed;
    bottom: 0;
    left: 80%;
    right: 10%;

    height: 25%;
    width: 10%;
    

    text-align: center;
    background: #fff;
}

.twitter-section{
    position: fixed;
    bottom: 0;
    left: 90%;
    right: 0;

    height: 25%;
    width: 10%;
    

    text-align: center;
    background: #fff;
}


