.ajax_filter_wrapper {
	position: relative;
}
#si_ei .ajax_filter_wrapper.search_filters {
	padding-top: 5px;
}
.ajax_keyword_filter {
	display: -ms-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.ajax_keyword_filter #jobfilters_keywords_,
.ajax_keyword_filter input.input-text {
	font-size: 15px;
	line-height: 20px;
	padding: 2px 3px;
	margin-right: -5px;
	box-sizing: border-box;
	max-width: 628px;
	width: 100%;
}
.saved_search_edit_dialog .existing_saved_row > td {
	border-bottom: none;	
}
.ajax_edit_filter_options {
	padding-top: 15px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}
.edit_saved_search_meta {
	border-bottom: 1px solid #ccc;
}
.ajax_keyword_filter .ajax_filter_submit {
	vertical-align: middle;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-topleft: 0;
	margin-left: 0;
	padding: 4px 10px;
	flex-shrink: 0;
}
.ff3 .ajax_keyword_filter .ajax_filter_submit {
	height: 30px;
}
.ajax_filter_options {
	background-color:#ffffff;
	position:absolute;
	z-index:20;
	color:#666666;
	border-color: #999999;
	border-style: solid;
	border-width: 1px;
	padding: 15px;
	-moz-box-shadow: rgba(0,0,0,0.3) 0px 1px 2px 0px;
	-webkit-box-shadow: rgba(0,0,0,0.3) 0px 1px 2px 0px;
	box-shadow: rgba(0,0,0,0.3) 0px 1px 2px 0px;
	white-space: nowrap;
}
.ajax_filter_options > table > tbody > tr > td,
.ajax_filter_options > table > tr > td,
.ajax_edit_filter_options > table > tbody > tr > td,
.ajax_edit_filter_options > table > tr > td {
	padding-right: 15px;
	padding-bottom: 10px;
}
.ajax_filter_options > table label {
	margin-left: 2px;
}
.ajax_saved_searches_wrapper {
	position: relative;
	margin-right: 15px;
}
.saved_search_close {
	position: absolute;
	right: 15px;
	top: 15px;
}
.ajax_saved_searches_div {
	margin-top: -20px;
	background-color:#ffffff;
	position:absolute;
	right: 0;
	top: 0;
	z-index:20;
	color:#666666;
	border-color: #999999;
	border-style: solid;
	border-width: 1px;
	padding: 15px;
	-moz-box-shadow: rgba(0,0,0,0.3) 0px 1px 2px 0px;
	-webkit-box-shadow: rgba(0,0,0,0.3) 0px 1px 2px 0px;
	box-shadow: rgba(0,0,0,0.3) 0px 1px 2px 0px;
	white-space: nowrap;
}

.new_saved_row > td,
.existing_saved_row > td {
	padding: 5px 0 5px 5px;
	border-bottom: 1px solid #ccc;
}
.new_saved_row > td:first-child,
.existing_saved_row > td:first-child {
	padding-left: 0;
}
.ajax_saved_search_clickable {
	margin-left: 5px;
}
.saved_search .btn {
	padding-top: 1px;
	padding-bottom: 1px;	
}
.ajax_advanced_search_button,
.ajax_filter_button {
	flex-shrink: 0;
	margin-left: 15px;
}
.ajax_alert {
	height:100%;
	width:100%;
	background-color:#ff0000;
}

.ajax_keyword_close {
	float:right;
}

.ajax_filter_options {
	width: 914px;
	left: 50%;
	margin-left: -472px;
	margin-top: 5px;
	overflow:auto;
	display: none;
}

.ajax_pill_wrapper {
	list-style: none;
	display: block;
	padding: 0;
	margin: 0;
}
.ajax_pill_wrapper li {
	display: inline-block;
}
.ajax_pill {
	background-color: #999;
	margin: 5px 5px 0 0;
	padding: 4px 6px;
	border-radius: 2px;
	color: #fff;
}

.ajax_delete_pill {
	font-weight: normal;
	font-family: Verdana, sans-serif;
	color: #fff !important;
	text-decoration: none;
	border-left: 1px solid #fff;
	text-align: center;
	display: inline-block;
	opacity: .6;
	font-size: 11px;
	margin-left: 6px;
	padding-left: 4px;
}
.ajax_delete_pill:hover {
	opacity: 1;
}
.ajax_filter_close {
	float: right;
}
.ajax_filters_toggle {
	margin-left: 15px;
}
.ajax_busy_dialog {
	height: 36px !important;
	min-height: auto !important;
	width: auto !important;
}
.ajax_working {
	background:url('../si_ei/images/ajax-loader.gif') no-repeat right center;
}