#student_job_match .sumlist-bd2 {
	width: 477px !important;
}
#si_ei #student_job_match .sumlist-bd2 .sumlist-td-r {
	width: 115px !important;
}

#student_job_match .job_match_container {
	float: right;
	width: 464px;
}
.job_col2 .job_match_container {
	margin-bottom: 1.55em;
}
#student_job_match .job_match_container label {
	line-height: 1.85;
	font: bold .833em Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	color: #666;
}
.job_match_container label {
	margin-right: 10px;
}
.sumlist-rw .ranking-score { /* limit width on job list */
	width: 220px;
}
.ranking-score:hover {
	cursor: pointer;
}
.popover h3, .popover p {
	margin: 0;
}