.job-similarjobs {
	position: relative;
	margin: 10px;
	padding: 0 10px 10px;
	border-top: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
	z-index: 2;
}
.job-similarjobs .label {
	margin: 0;
	padding: 10px 0;
}
.similarjobs-prev, .similarjobs-next {
	position: absolute;
	display: block;
	height: 15px;
	width: 10px;
	top: 50%;
	margin: -14px -10px 0;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding: 5px;
}
.similarjobs-prev {
	left: 0;
}
.similarjobs-next {
	right: 0;
}
.similarjobs-slides {
	margin: 0 10px;
}
.similarjob_item {
	float: left;
	width: 211px;
	margin: 0;
	padding: 0 10px;
}
.similarjob_item.over {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #fff;
	padding: 10px;
	border: solid 1px #aaa;
	margin: -11px -1px 0;
}
.similarjob_empinfo {}
.simlarjob_empinfo img {
	border: solid 1px #ccc;
}
.similarjob_jobinfo {}
.similarjob_title {
	font-size: 1.25em;
}
.similarjob_emp {
	color: #666;
}
.similarjob_title, .similarjob_position {
	margin-bottom: 5px;
}
.similarjob_location {}
.similarjob_posted {}
.similarjob_deadline {}
.similarjob_extracontent {
	display: none;
}